@import "tailwindcss";

@layer base {
    :root {
        --text-50: 96.29%, -0.002, -0.00;
        --text-100: 92.47%, -0.004, -0.00;
        --text-200: 84.64%, -0.007, -0.01;
        --text-300: 76.80%, -0.011, -0.01;
        --text-400: 68.59%, -0.014, -0.02;
        --text-500: 60.35%, -0.019, -0.02;
        --text-600: 51.39%, -0.015, -0.02;
        --text-700: 42.22%, -0.013, -0.01;
        --text-800: 32.30%, -0.008, -0.01;
        --text-900: 21.78%, -0.006, -0.01;
        --text-950: 15.72%, -0.003, -0.00;

        --background-50: 96.14%, 0.000, -0.00;
        --background-100: 92.37%, -0.002, -0.00;
        --background-200: 84.38%, -0.002, -0.00;
        --background-300: 76.45%, -0.003, -0.01;
        --background-400: 68.04%, -0.004, -0.01;
        --background-500: 59.60%, -0.005, -0.01;
        --background-600: 50.76%, -0.004, -0.01;
        --background-700: 41.76%, -0.004, -0.01;
        --background-800: 31.93%, -0.003, -0.01;
        --background-900: 21.60%, -0.002, -0.00;
        --background-950: 15.79%, -0.002, -0.00;

        --primary-50: 97.38%, -0.024, 0.01;
        --primary-100: 94.80%, -0.048, 0.02;
        --primary-200: 89.89%, -0.091, 0.04;
        --primary-300: 85.71%, -0.132, 0.06;
        --primary-400: 82.21%, -0.164, 0.09;
        --primary-500: 79.19%, -0.184, 0.11;
        --primary-600: 67.23%, -0.156, 0.09;
        --primary-700: 54.43%, -0.124, 0.07;
        --primary-800: 40.84%, -0.091, 0.05;
        --primary-900: 26.32%, -0.055, 0.03;
        --primary-950: 17.93%, -0.033, 0.01;

        --secondary-50: 95.86%, -0.004, -0.01;
        --secondary-100: 91.83%, -0.009, -0.02;
        --secondary-200: 83.44%, -0.017, -0.04;
        --secondary-300: 74.96%, -0.025, -0.07;
        --secondary-400: 66.75%, -0.034, -0.09;
        --secondary-500: 58.47%, -0.040, -0.12;
        --secondary-600: 49.95%, -0.034, -0.09;
        --secondary-700: 40.81%, -0.026, -0.08;
        --secondary-800: 31.39%, -0.019, -0.05;
        --secondary-900: 20.92%, -0.011, -0.03;
        --secondary-950: 15.46%, -0.008, -0.02;

        --accent-50: 95.74%, -0.005, -0.01;
        --accent-100: 91.51%, -0.010, -0.03;
        --accent-200: 83.22%, -0.021, -0.05;
        --accent-300: 74.80%, -0.031, -0.08;
        --accent-400: 66.75%, -0.040, -0.11;
        --accent-500: 58.88%, -0.045, -0.14;
        --accent-600: 50.26%, -0.039, -0.12;
        --accent-700: 41.01%, -0.030, -0.09;
        --accent-800: 31.52%, -0.023, -0.07;
        --accent-900: 20.93%, -0.013, -0.04;
        --accent-950: 15.47%, -0.009, -0.02;

    }
    .dark {
        --text-50: 15.72%, -0.003, -0.00;
        --text-100: 21.54%, -0.003, -0.01;
        --text-200: 32.30%, -0.008, -0.01;
        --text-300: 42.01%, -0.011, -0.01;
        --text-400: 51.43%, -0.014, -0.02;
        --text-500: 60.16%, -0.017, -0.02;
        --text-600: 68.64%, -0.014, -0.01;
        --text-700: 76.63%, -0.009, -0.01;
        --text-800: 84.64%, -0.007, -0.01;
        --text-900: 92.32%, -0.002, -0.00;
        --text-950: 96.29%, -0.002, -0.00;

        --background-50: 15.79%, -0.002, -0.00;
        --background-100: 21.60%, -0.002, -0.00;
        --background-200: 31.93%, -0.003, -0.01;
        --background-300: 41.76%, -0.004, -0.01;
        --background-400: 50.76%, -0.004, -0.01;
        --background-500: 59.60%, -0.005, -0.01;
        --background-600: 68.04%, -0.004, -0.01;
        --background-700: 76.45%, -0.003, -0.01;
        --background-800: 84.38%, -0.002, -0.00;
        --background-900: 92.37%, -0.002, -0.00;
        --background-950: 96.14%, 0.000, -0.00;

        --primary-50: 17.93%, -0.033, 0.01;
        --primary-100: 26.32%, -0.055, 0.03;
        --primary-200: 40.84%, -0.091, 0.05;
        --primary-300: 54.43%, -0.124, 0.07;
        --primary-400: 67.23%, -0.156, 0.09;
        --primary-500: 79.19%, -0.184, 0.11;
        --primary-600: 82.21%, -0.164, 0.09;
        --primary-700: 85.71%, -0.132, 0.06;
        --primary-800: 89.89%, -0.091, 0.04;
        --primary-900: 94.80%, -0.048, 0.02;
        --primary-950: 97.38%, -0.024, 0.01;

        --secondary-50: 15.46%, -0.008, -0.02;
        --secondary-100: 20.92%, -0.011, -0.03;
        --secondary-200: 31.39%, -0.019, -0.05;
        --secondary-300: 40.81%, -0.026, -0.08;
        --secondary-400: 49.95%, -0.034, -0.09;
        --secondary-500: 58.47%, -0.040, -0.12;
        --secondary-600: 66.75%, -0.034, -0.09;
        --secondary-700: 74.96%, -0.025, -0.07;
        --secondary-800: 83.44%, -0.017, -0.04;
        --secondary-900: 91.83%, -0.009, -0.02;
        --secondary-950: 95.86%, -0.004, -0.01;

        --accent-50: 15.47%, -0.009, -0.02;
        --accent-100: 20.93%, -0.013, -0.04;
        --accent-200: 31.52%, -0.023, -0.07;
        --accent-300: 41.01%, -0.030, -0.09;
        --accent-400: 50.26%, -0.039, -0.12;
        --accent-500: 58.88%, -0.045, -0.14;
        --accent-600: 66.75%, -0.040, -0.11;
        --accent-700: 74.80%, -0.031, -0.08;
        --accent-800: 83.22%, -0.021, -0.05;
        --accent-900: 91.51%, -0.010, -0.03;
        --accent-950: 95.74%, -0.005, -0.01;

    }
}

