html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    background-color: #333333;
    color: #333;
}

.hero {
    background-color: #444444;
    color: #fff;
    padding: 50px 20px;
    margin-top: 20px;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #555555;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #5F5F5F;
}

nav > ul > li {
    display: inline-block;
    position: relative;
}

nav > ul > li > a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out;
    background-color: #5F5F5F;
}

nav > ul > li > a:hover {
    background-color: #777777;
    color: #222;
}